<div class="container" style="align:center;">
    <h3 class="center-align">중앙대 밥집?</h3>
      <div class="row">
        <div class="col s12">
          <div class="card grey lighten-2">
            <div class="card-content black-text">
              <h2 class="center-align"><%= @restaurant_selected %></h2>
            </div>
            <div class="card-action">
                <a class="waves-effect waves-light btn-large" href="/">뭐먹지?</a>
                <a class="waves-effect waves-light btn-large" href="/caueat/pub">술집은?</a>
            </div>
          </div>
        </div>
      </div>
</div>