// Place all the styles related to the caueat controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.page-footer {
    position: absolute;
    width: 100%;
    bottom: 0px;
}
.btn-large {
    height: 54px;
    line-height: 54px;
    width: 49%;
}